<!-- This file is used only to generate the entry point of the built application
	The #App element will be used to attach the vue.js application found in main.mjs
	NOTE : In most cases you shouldn't edit this file manually
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/favicon.ico" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="App"></div>
</body>
</html>
